@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Poppins:wght@400;500;700;900&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  max-width: 540px;
  border: 1px solid gray;
  border-radius: 3px;
  background-color: #282D35;
}

h1,
footer span {
  font-family: 'Courier New', Courier, monospace;
}

/* HEADER */
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #21222A;
  height: 90px;
  padding: 2rem 1.8rem;
}

.nav-left {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-logo {
  margin-right: 10px ;
}

.nav-logo-text {
  color: #61DAFB;
  font-size: 1.3rem;
}

.nav-title {
  color: #DEE8F8;
  font-weight: 600;
}

/* MAIN CONTENT*/
main {
  color: whitesmoke;
  padding: 3rem;
}

.main-title {
  letter-spacing: -0.04em;
}
  
.main-facts {
  padding-top: 1rem;
  margin-left: 1.2rem;
}

.main-facts > li {
  padding-block: 10px;
}

.main-facts > li::marker{
  font-size: 1.4rem;
  color: #61DAFB;
}


/* FOOTER */
footer {
  color: whitesmoke;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 3rem;
  background-color: #282D35;

}

footer span {
  color: #21222A;
  font-weight: 900;
  font-size: 1 rem;
  background-color: whitesmoke;
  border-radius: 3px;
  padding: 5px 0.6rem;
  margin: 5px;
}